.contenedor-principal-sistema {
    margin-top: 5px;
    min-height: 100vh;
}

.navegacion-superior {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 0;
}

.tab-btn {
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    min-width: 200px;
    color: black
}

.tab-btn.active {
    background-color: var(--accent-color);
    color: white;
    border-bottom: none;
}

.ventana-contenido-principal {
    min-height: 600px;
}

.animate-fade {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 600px) {
    .navegacion-superior {
        flex-direction: row; 
        width: 100%;
        padding: 5px;
    }

    .tab-btn {
        min-width: 0; 
        flex: 1; 
        font-size: 0.75rem;
        padding: 8px 5px;
        white-space: normal;
        text-align: center;
    }
}